// 公共颜色(颜色来源于 Flat UI https://designmodo.github.io/Flat-UI/)
:root {
  --primary: #59bb9e;
  --success: #7bd393;
  --warning: #ebc645;
  --danger: #f56c6c;
  --error: #f56c6c;
  --info: #909399;

  --grey-3: #333333;
  --grey-5: #555555;
  --grey-7: #777777;
  --grey-9: #999999;
  --grey-b: #bbbbbb;
  --grey-d: #dddddd;

  --aside-bar-width: 270px; // 侧边栏宽度

  // 公共阴影盒子
  --box-showdow : 2px 2px 10px 4px var(--grey-3);
  --box-showdow-right-bottom: 2px -2px 10px -4px var(--grey-3);
  --box-showdow-left-top: -2px 2px 10px -4px var(--grey-3);


  // 文字大小
  --ft_min: 12px;
  --ft_normal: 14px;
  --ft_large: 16px;

  // elementplus配色
  --el-color-primary: #59bb9e !important;
  --el-color-primary-dark-2: #a7eacc !important;
  --el-color-primary-light-3: #94d0b5 !important;
  --el-color-primary-light-5: #719d8a !important;
  --el-color-primary-light-7: #5f8574 !important;
  --el-color-primary-light-8: #4c6b5e !important;
  --el-color-primary-light-9: #3a5248 !important;
  --el-color-success: #7bd393 !important;
  --el-color-success-dark-2: #c4fdc3 !important;
  --el-color-success-light-3: #b2e8b0 !important;
  --el-color-success-light-5: #8bb589 !important;
  --el-color-success-light-7: #779c76 !important;
  --el-color-success-light-8: #648363 !important;
  --el-color-success-light-9: #51694f !important;
  --el-color-warning: #ebc645 !important;
  --el-color-warning-dark-2: #fdf384 !important;
  --el-color-warning-light-3: #f9de79 !important;
  --el-color-warning-light-5: #c7b161 !important;
  --el-color-warning-light-7: #ad9c55 !important;
  --el-color-warning-light-8: #958548 !important;
  --el-color-warning-light-9: #7b6f3c !important;
  --el-color-danger: #f56c6c !important;
  --el-color-danger-light-3: #b25252 !important;
  --el-color-danger-light-5: #854040 !important;
  --el-color-danger-light-7: #582e2e !important;
  --el-color-danger-light-8: #412626 !important;
  --el-color-danger-light-9: #2b1d1d !important;
  --el-color-danger-dark-2: #f78989 !important;
  --el-color-error: #f56c6c !important;
  --el-color-error-light-3: #b25252 !important;
  --el-color-error-light-5: #854040 !important;
  --el-color-error-light-7: #582e2e !important;
  --el-color-error-light-8: #412626 !important;
  --el-color-error-light-9: #2b1d1d !important;
  --el-color-error-dark-2: #f78989 !important;
  --el-color-info: #909399 !important;
  --el-color-info-light-3: #6b6d71 !important;
  --el-color-info-light-5: #525457 !important;
  --el-color-info-light-7: #393a3c !important;
  --el-color-info-light-8: #2d2d2f !important;
  --el-color-info-light-9: #202121 !important;
  --el-color-info-dark-2: #a6a9ad !important;
  // 自定义
  --nav-bg-fill: white;
}

html {
  color: var(--el-text-color-primary);
}


// 基本样式
html,
body,
ul,
li,
span,
p,
div,
a,
form,
input,
button,
img,
h1,
h2,
h3,
h4,
h5,
h6,
header,
td,
th,
dd,
dl,
tr,
table,
footer,
main,
aside,
article,
section,
select,
option {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--ft_normal);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

// 全局滚动条样式
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 5px;
}
*::-webkit-scrollbar-track {
  width: 0;
  display: none;
  border: 0;
  box-shadow: none;
}
*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #cbcdd2;
}

