// 公共颜色(颜色来源于 Flat UI https://designmodo.github.io/Flat-UI/)
:root {
  --primary: #59bb9e;
  --warning: #ebc645;
  --cancel: #bec2c7;
  --danger: #d75745;
  --success: #7bd393;
  --info: #5297d5;
  
  --grey-3: #333333;
  --grey-5: #555555;
  --grey-7: #777777;
  --grey-9: #999999;
  --grey-b: #bbbbbb;
  --grey-d: #dddddd;

  --aside-bar-width: 270px; // 侧边栏宽度

  // 公共阴影盒子
  --box-showdow-right-bottom: 2px -2px 10px -4px var(--grey-b);
  --box-showdow-left-top: -2px 2px 10px -4px var(--grey-b);

  --ft_min: 12px;
  --ft_normal: 14px;
  --ft_large: 16px;

}


// 基本样式
html,
body,
ul,
li,
span,
p,
div,
a,
form,
input,
button,
img,
h1,
h2,
h3,
h4,
h5,
h6,
header,
td,
th,
dd,
dl,
tr,
table,
footer,
main,
aside,
article,
section,
select,
option {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--ft_normal);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

// 全局滚动条样式
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 5px;
}
*::-webkit-scrollbar-track {
  width: 0;
  display: none;
  border: 0;
  box-shadow: none;
}
*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #cbcdd2;
}

